form {
  width: 340px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 270px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 2px 4px 10px 4px #ccc; 
}

 
.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}

label, input {
  transition: all 0.2s;
  touch-action: manipulation;
}

input {
  font-size: 1.5em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 5px;
  cursor: text;
}

input:focus {
  outline: 0;
  border-bottom: 1px solid black;
}

label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
h2{
    text-align: center;
}
input:focus::-webkit-input-placeholder {
  opacity: 1;
}

input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}
button{
  border-radius: 50px;
}
.login{
  margin-bottom: 20px;
}
.addEventForm{
  height: 460px;
}
.logout{
  border: none;
  border-radius: unset;
  box-shadow: none;
  height: 20px;
}